<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<client>
   <endpoint address="net.tcp://localhost:8083/Service" binding="netTcpBinding"
    bindingConfiguration="UserServiceWithNetTcpBinding" contract="BookDataService.IBookDataService"
    name="UserServiceWithNetTcpBinding" />
  </client>
  <bindings>
   <netTcpBinding>
    <binding name="tcpBindingConfig1" receiveTimeout="Infinite" sendTimeout="00:01:19"
     maxBufferPoolSize="2" maxBufferSize="166600" maxReceivedMessageSize="166600">
     <security mode="None" />
    </binding>
    <binding name="UserServiceWithNetTcpBinding">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<services>
			<service name="BookWCFBusinessService.Service.BookService" behaviorConfiguration="mexBehavior">
				<endpoint name="UserServiceWithNetTcpBinding" bindingConfiguration="tcpBindingConfig1" address="Service" binding="netTcpBinding" contract="BookWCFBusinessService.Service.IBookService" ></endpoint>
				<endpoint name="three" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/" />
						<add baseAddress="net.tcp://localhost:8081/" />
					</baseAddresses>
				</host>
			</service>

		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentInstances="50000" maxConcurrentCalls="5000" maxConcurrentSessions="5000" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
	
</configuration>